.container{
    display: grid;
    grid-template-columns: auto auto;
    border: solid black 1px;
    margin: auto;
}

.container2{
    border: solid black 1px;
    margin-top: 20px;
}

body{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

.jugador,.maquina{
    border: solid black 2px;
}