body {
    text-align: center;
    background-color: mediumvioletred;
    font-weight: bolder;
}

table {
    margin: auto;
    border: solid black 10px;
    margin-top: 150px;
    border-collapse: collapse;
}

thead{
    background-color: black;
    color: indigo;
    font-size: 2em;
}


#contadorJugador, #contadorMaquina{
    background-color: goldenrod;
}

tfoot{
    border: black solid 4px;
}

tbody tr>td{
    border-right: rgba(0, 0, 0, .5) dashed 2px;
}

tfoot tr>td{
    border: black solid 4px;
}

button{
    border-radius: 10px;
    margin-top: 10px;
    font-family: cursive;
    background-color: khaki;
}

img{
    width: 250px;
    height: 250px;
}

.pista{
    margin-top: 20px;
    background-color: magenta;
    display: inline-block ;
    border-radius: 10px;
    padding: 10px;
    border: solid 2px black;
}